@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<style>
    canvas {
        cursor: crosshair;
        display: block;
    }
</style>
    <canvas id="canvas">Canvas is not supported in your browser.</canvas>

<script src="~/Assets/View/js/hieu.js"></script>
